

.header-banner {
    font-size: 34.5px;
    font-family: "arial";
    font-weight:bold;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(0, 72, 255);
    width: 95vw;
    margin: 20px auto; 
    padding: 35px 0; 
    border-radius: 90px;
    box-sizing: border-box; 
}

.about-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 90vw;
  margin: 40px auto;
  gap: 20px;
}

.about-left {
  flex: 1;
  min-width: 250px;
  margin-bottom: 30px;
  margin-top: 25px;
}

.about-left h2 {
  font-size: 35px;
  margin-bottom: 10px;
  font-family: "Poppins";
  font-weight: bold;
}

.about-left p {
  font-size: 20px;
  line-height: 1.6;
    font-family: "Poppins";
    text-align: justify;
    margin-bottom: 25px;
    margin-top: 25px;
}

.about-right {
  flex: 1;
  min-width: 200px;
  text-align: center;
}

.about-right img {
  width: 250px;
  height: 250;
  border-radius: 0px;
}

.footer-note {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: #000000;
  padding: 10px 0;
  font-size: 20px;
  font-family: "poppins";
  color: #ffffff;
  border-top: 1px solid #ccc;
}


   .projects-header-text {
    font-family: "poppins";
    font-size: 35px;
    
   }

.python-cal-header {
    font-family: "poppins";
    font-size: 45px;
    margin: 30px;
    margin-top: 15px;
    padding: 27px 0;
    color: blue;
    text-align: center;
    background-color: rgb(188, 235, 255);
    border-radius: 20px;
   }

 
   .py-calc-link {
    font-size: 20px;
    padding: 17px 28px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 50px;
    font-family: "poppins";
    font-weight: bold;
    color: blue;
    background-color: white;
    border: 1.3px solid blue;
    text-decoration: none;
   }

   .py-calc-link:hover {
  background-color: #1e0fc8;
  transition-duration: 0.7s;
  color: white;
}

   .email-btn {
      padding: 15px 25px;
      border-radius: 40px;
      font-family: Arial, "poppins";
      font-size: 20px;
      color: white;
      background-color: #0756e0;
      border: none;
   }

   .email-btn:hover {
    background-color: rgb(29, 29, 139);
    transition-duration: 0.5s;
    color: white;
   }

   .form-heading{
    font-size: 18px;
    font-family: "poppins";
    text-align: center;
   }

   .fb-btn {
      padding: 16px 30px;
      border-radius: 40px;
      font-family: "poppins";
      font-size: 17px;
      color: white;
      background-color: #410dcf;
      border: none;
   }

   .fb-btn:hover{
    background-color: rgb(60, 18, 139);
    transition-duration: 0.6s;
   }

   .form-banner {
    font-family: "poppins";
    font-family: 37px;
    max-width: 95vw;
    text-align: center;
    background-color: #21139b;
    color: white;
    border-radius: 90px;
    margin: 50px;
    margin-top: 20px;
    padding: 30px 40px;
   }
